{{#partial "navbar"}}
    <li class="nav-item fs-5"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item fs-5 active"><a class="nav-link" href="/heroes/new">Register Hero</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/squads/new">Create Squad</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/squads">List of Squads</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/heroes">List of Heroes</a></li>
{{/partial}}

{{#partial "content"}}
    <div class="text-center m-5 fs-2 bg-light">
        Register a New Hero
    </div>
    <div id="newHeroForm" class="bg-light">
            <form action="/heroes/new" method="post">
                <div class="form-group m-2">
                    <label for="name">Name</label>
                    <input type="text" id="heroName" name="heroName" class="form-control" placeholder="Enter name of hero" required>
                </div>
                <div class="form-group m-2">
                    <label for="age">Age</label>
                    <input type="number" id="heroAge" name="heroAge" class="form-control" placeholder="Enter age of hero" min="0" required>
                </div>
                <div class="form-group m-2">
                    <label for="SpecialPower">Special Power</label>
                    <input type="text" id="heroSpecialPower" name="heroSpecialPower" class="form-control" placeholder="Enter power of hero" required>
                </div>
                <div class="form-group m-2">
                    <label for="heroWeakness">Weakness</label>
                    <input type="text" id="heroWeakness" name="heroWeakness" class="form-control" placeholder="Enter weakness of hero" required>
                </div>
                <div class="text-center form-group m-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="reset">Reset</button>
                </div>
            </form>
    </div>
{{/partial}}

{{> layout.hbs}}
