{{#partial "navbar"}}
    <li class="nav-item fs-5"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item fs-5 active"><a class="nav-link" href="/engineers/new">Register Engineer</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/sites/new">Create Site</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/sites">List of Sites</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/engineer">List of Engineers</a></li>
{{/partial}}

{{#partial "content"}}
    <div class="text-center m-5 fs-2 bg-light">
        Register a New engineer
    </div>
    <div id="newengineerForm" class="bg-light">
            <form action="/engineers/new" method="post">
                <div class="form-group m-2">
                    <label for="name">Name</label>
                    <input type="text" id="engineerName" name="engineerName" class="form-control" placeholder="Enter name of engineer" required>
                </div>
                <div class="form-group m-2">
                    <label for="email">Email</label>
                    <input type="text" id="engineerEmail" name="engineerEmail" class="form-control" placeholder="Enter email of engineer" required>
                </div>
                <div class="form-group m-2">
                    <label for="engineerSite">Site</label>
                    <input type="text" id="engineerSite" name="engineerSite" class="form-control" placeholder="Choose site of engineer" required>
                </div>
                <div class="text-center form-group m-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="reset">Reset</button>
                </div>
            </form>
    </div>
{{/partial}}

{{> layout.hbs}}
