{{#partial "navbar"}}
    <li class="nav-item fs-5"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/engineers/new">Register Engineer</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/sites/new">Create Site</a></li>
    <li class="nav-item fs-5 active"><a class="nav-link" href="/sites">List of Sites</a></li>
    <li class="nav-item fs-5"><a class="nav-link" href="/engineer">List of Engineers</a></li>
{{/partial}}

{{#partial "content"}}
    <div class="text-center m-5 fs-2 bg-primary">
        List of Sites
    </div>
    <div class="text-center">
        <h3 class="text-center"><u>{{site.sitename}}</u></h3>
        <ul>
            {{#each site.members}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
            <a class="btn btn-outline-primary" href="/sites/{{site.siteID}}/update">Add Members</a>
        <a class="btn btn-outline-danger" href="/sites/{{site.siteID}}/remove">Remove Members</a>
    </div>
{{/partial}}

{{> layout.hbs}}
